.nav-css{
  top:0;
  z-index:100;
  display: flex;
  justify-content: space-between;
  

}

.dash-css{

  justify-content: flex-start;
  margin-left: 20px;
}

.change-css{
   justify-content: flex-start;
}

.login-css{
    display: flex;
    justify-content: flex-end;
    margin-right:10px;

}
.each-song{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.m-div{
  background-color: lightgray; 
  padding: 20px;
  border-radius: 10px;
}
